#jiege{
    width: 200px;
    height: 200px;
}
td{
    font-size: 18px;
    width: 300px;
}
.isBlack{
   width:600px;
   margin:15px 0px;
   border-radius: 10px 5px 28px 5px;
    background-color: black;
    font-size: 15px;
    color: #ffffff;
    
}
#all{
    margin:auto;
    background: #eeeeee;
    width:600px;
    padding:25px 50px;
    
}
p{
    font-size: 18px;
}
#head{
   
    padding: 0px 100px;
}
