.wrap
{
    width: 1000px;
    margin: 0 auto;
    /*background-color: #00ff80;*/
}

.resume_title
{
    text-align: center;
    color: #2c63ff;
    font-size: 35px;
    font-family: 微软雅黑;
}

table
{
    width: 800px;
    margin: 0 auto;
    height: 500px;
}

.table_basic td
{
    height: 30px;
}

.type_1
{
    color: #7086ff;
    font-size:25px ;
    font-weight: bold;
    font-family: 宋体;
}

.type_2
{
    font-family: 宋体;
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
}

.type_2_content
{
    text-align: center;
    font-family: 仿宋;
}

.github
{
    text-decoration: none;
}
.github:hover
{
    color: red;
}

.type_3
{
    font-size: 20px;
    font-family: 宋体;
}
textarea
{
    background-color: #d8faff;
    height: 100px;
    width: 800px;
    resize: none;
    font-size: 20px;
}

