.main
{
	color:#474141;
}
.main .name
{
	margin:3em;
}
.main .name p:first-child
{
	font-size: 200%;
}
.main .name p:last-child
{
	color:#666;
}
.main main 
{
	width: min-content;
	margin: auto;
	margin-top: -1em;
}
.main main div p[style]
{
	width: 23em;
	color:#254665;
	font-weight: bold;
	font-size: 115%;
	padding: .2em;
	padding-left: 2em;
	
	border-bottom: 1px solid silver;

}
.main main div div
{
	margin: 1.2em;
	line-height: 1.5;
}
/*textarea最好不用要百分比数设置*/
#comment
{
	width: 435px;
	height: 120px;

	margin-top: 1em;
	padding: 1em;

	border-radius: 1em;
	
	resize:none;
}
.main main input[type='submit']
{

	background:linear-gradient(hsla(0,0%,100%,.1) 30%,transparent),#254665;
	color: white;
	border:none;
	border-radius: .2em;
	margin-top: 1em;
	padding: .5em 1em;

	float: right;
}
.main main input[type='submit']:active
{
	background:linear-gradient(transparent 30%,hsla(0,0%,100%,.1)),#254665;
}
/*external link*/
.external
{
	width: 17.5em;
	padding: .5em 0 0 0;
	background:url(../img/external.png) no-repeat 16.5em .1em/.8em; 
	border-bottom: 1px dashed gray;
}