.cls
{
	clear: both;
}
.sidenav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidenav
{
	margin: auto;
	width: 13em;

	margin-top: 5em;
}
.sidenav ul.tag
{
	width: 6.5em;
	float: left;
}
.sidenav ul.inform
{
	width: 6.5em;
	float: right;

}
.sidenav ul.inform li
{
	margin-bottom: 1.5em;
}
.sidenav ul.tag li
{
	background:pink;

	padding-left: 1.8em;
	
	margin-bottom: 1.5em;
}
.sidenav ul.tag li:nth-child(1)
{
	background:url(../img/age.png) no-repeat 0em -.1em/1.5em;
}
.sidenav ul.tag li:nth-child(2)
{
	background:url(../img/workyear.png) no-repeat 0em -.1em/1.5em;
}
.sidenav ul.tag li:nth-child(3)
{
	background:url(../img/phone.png) no-repeat 0em -.1em/1.5em;
}
.sidenav ul.tag li:nth-child(4)
{
	background:url(../img/email.png) no-repeat 0em -.1em/1.5em;
}
div.content div.side div.skll
{
	width: 13em;
	margin: auto;
	margin-top: 5em;
	
}
div.content div.side div.skll h2
{
	padding-left: 1.6em;
	background:url(../img/skll.png) no-repeat 0em/1.3em;
}
div.content div.side div.skll nav.myskll
{
	margin: 1em 1em;
}