table {
    margin: auto;
    margin-top: 50px;
    width: 800px;
    border:1px solid #050505;
}
table caption {
    font: bold 50px/1.5em arial,verdana;
    padding-bottom: 30px;
}
tbody {
    font: bold 20px/1.5em verdana;
}
td {
    padding-left: 2em;
    height: 2em;
}
.content-title {
    border-bottom: 1px dashed #050505;
}
.content-pic {
    width: 30%;
    border-left: 1px dashed #050505;
}
img {
    height: 230px;
}
form {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
label,a {
    text-align: center;
}
label,textarea,button,a {
    margin: auto;
    display: block;
}
button:hover {
    background-color: #6e6e6e;
}
button {
    margin-top: 8px;
    border:0px;
    background-color: #8e8e8e;
    color: snow;
    font: bold 14px/1em verdana;
    width: 5em;
    height: 2.5em;
    border-radius: 10px;
}
a:hover {
    color: #6e6e6e;
}
a {
    width: 8em;
    text-decoration: none;
    font-size: 16px;
}
.bor-top {
    border-top: 1px dashed #050505;
}