@charset "utf-8";
/* CSS Document */
body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: #FFFFFF;
}
.container{
	background-color: #FFFFFFF;
}
.cloumn1{
    display:inline-block;
	float:left;
    width:257px;
    height:1241px;
    background:url(../img/cloumn.png)
}
.photo{
    padding-top:150px;
    text-align: center;
}
.name{
	font-weight: bolder;
	text-align: center;
	font-size: 40px;
}
.boject{
    font-weght:bolder;
}
.information{
    padding-top: 100px;
}
.insert{
    text-align: center;
}
.tbl{
    align-align:center;
	height:80px;
	font-size: 15px;
	font-weight:bolder;
}
.information{
    padding-left:15px;
}
.education{
    padding-top:50px;
    padding-left:320px;
	padding-right:30px;
}
.experience{
    padding-top:20px;
	padding-left:320px;
	padding-right:30px;
}
.skill{
    padding-top:20px;
	padding-left:320px;
	padding-right:30px;
}
.evaluation{
    padding-top:20px;
	padding-left:320px;
	padding-right:30px;
}
.cloumn2{
    width:900px;
	height:1241px;
}
.insert{
    width:232px;
	height:48px;
    text-align: center;
	background: url(../img/information.png);
}
.raw{
    width:171px;
	height:44px;
	text-align: center;
    background: url(../img/row.png);
}
section{
	display: inline-block;
	background-color:#E1DFC6;
	margin-left: 20%;
	margin-right:20%;
}
.meaasge{
   padding-top:40px;
}