.main {
   height:600px;width: 700px;
   margin:auto;
   border: solid;
   top: 0;
   left: 0;
   right: 0;
   bottom:0;
}
.name{
   height: 140px;
   width: 700px;
}
.name_text{
   height: 140px;
   width: 500px;
   float: left;
}
.name_info{
   text-align: left;
   font-size: 30px;
   padding-left: 20px;
   padding-top: 20px;
   padding-bottom: 10px;
}
.phone{
   text-align: left;
   font-size: 10px;
   padding-left: 20px;
   padding-bottom: 5px;
}
.want_job{
   text-align: left;
   font-size: 10px;
   padding-left: 20px;
}
.name img{
   float: right;
   margin-right: 50px;
   margin-top: 5px;
   width: auto;
   height: 90%;
}
.edu{
  height: 155px;
  width: 700px;
}
.edu_name{
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
}
.edu_school{
  font-size: 15px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 5px;
}
.edu_major{
  font-size: 10px;
  text-align: left;
  padding-left: 20px;
}
.me{
  height: 160px;
  width: 700px;
}
.me_name{
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
}
.skill{
  height: 155px;
  width: 700px;
}
.skill_name{
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
}
.M_board{
  padding-top: 10px;
  padding-left: 450px;
}
.c_Change{
  padding-top: 10px;
  padding-left: 450px;
}
