#bor{
	border: 1px solid black;
	width: 600px;
	height: 900px;
	padding: 3px;
	position: relative;
	left: 300px;
}
#left{
	width: 35%;
	height: 100%;
	display: block;
	float: left;
	background-color: #254665;
}
#right{
	width: 53%;
	height: 100%;
	float: right;
	padding-left: 30px;
	padding-right: 30px;
	display: block;
}
ul{
	list-style-type: none;
}
#left .ld{
	margin-top: 10px;
	margin-bottom: 40px;
}
#left .ld ul{
	color: #F1F1F1;
}
.bor{
	border: 1px solid #1CAEBD;
	width: 100px;
	height: 10px;
	float:left;
	position: relative;
	top: 5px;
}
.iml{
	width: 40px;
	height: 40px;
	float: left;
	margin-right:
	40px;margin-left: 4px;
}
.imr{
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 40px;
}
#right{
	color: #171723;
}
#rfirst{
	margin-top: 20px;
}
.rdiv2{
	margin-top: 20px;
}
.dtitle{
	height: 40px;
}
.rpn{
	height: 30px;
	float: left;
	margin-right: 10px;
}
.rtext{
	float: left;
	width: calc(100% - 40px);
}
.ulline{
	margin-top: 0px;
	margin-bottom: 2px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 0px;
}
.liline{
	list-style: none;
	display: inline-block;
	margin-right: 30px;
	color: #89888F;
}
.liline2{
	font-size: 15px;
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	color: #43484E;
}
.rtext2{
	font-size: 12px;
	color: #89888F;
	margin-top: 0px;
}
.rtext2 ul li{
	list-style-type: disc;
}