body, html {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}
.weui-tabbar{
	background-color: #191921;
}
.weui-tab__bd-item{
	display: none;
}
.weui-tab__bd-item_active{
	display: block;
}
.head{
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    position: fixed;
    z-index: 500;
    justify-content:center;
  	align-items:center;
	top: 0px;
	width: 100%;
	background-color: #191921;
	color: #e16d54;
}
.htxt{
	display: block;
	text-align: center;
    font-size: 25px;
    line-height: 1.8;
}
.content1{
	height: auto;
	padding-left: 10px;
	padding-top: 50px;
	background: url(../img/tang3.jpg);
	background-color: #4a4957;
	background-blend-mode:multiply;
	background-size: 100%;
	background-repeat: repeat-y;
}
.ld{
	margin-top: 10px;
	margin-bottom: 10px;
}
.ldcenter{
	text-align: center;
}
.ldhead{
	color: #f6f6f6;
	clear: both;
}
.ldfooter{
	padding-bottom: 40px;
}
ul{
	list-style-type: none;
	margin-left: 20px;
	margin-bottom: 2px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 0px;
}
.hr{
	width: 95%;
	margin-top: 10px;
	color: #D9D5D5;
}
.ld ul li{
	float: left;
	list-style: none;
	display: inline-block;
	margin-right: 30px;
	color: #D9D5D5;
}
.spanFloat li div{
	width: 70px;
	display: block;
	float: left;
}
.spanFloat li{
	clear: both;
}
.bor{
	position: relative;
	top: 8px;
	border: 1px solid #25252f;
	width: 100px;
	height: 10px;
	margin-right: 30px;
}
.bi{
	height: 100%;
	background-color: #353444;
}
.iml{
	width: 40px;
	height: 40px;
}
.imr{
	width: 40px;
	height: 40px;
}
/*界面2的css样式*/
#right{
	color: #e16d54;
}
.content2{
	padding-left: 10px;
	background-color: #25252f;
	padding-top: 50px;
}
.dtitle{
	height: 40px;
}
.rpn{
	height: 30px;
	float: left;
	margin-right: 10px;
}
.rtext{
	color: #e16d54;
	float: left;
	width: calc(100% - 40px);
}
.ld .dcontent .ulline{
	margin-top: 0px;
	margin-bottom: 2px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 0px;
}
.ld .dcontent .liline2{
	font-size: 15px;
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	color: #949492;
}
.ld .dcontent .rtext2{
	font-size: 12px;
	color: #D9D5D5;
	margin-top: 0px;
}
.ld .dcontent .rtext2 ul{
	white-space: normal;
	list-style: disc;
	padding-inline-start: 20px;
}
.ld .dcontent .rtext2 ul li{
	color: #D9D5D5;
	float: none;
	display: list-item;
	list-style: disc;
	list-style-type: disc;
}
.ppad p{
	padding-left: 20px;
}
/*界面三*/
.content3{
	padding-top: 50px;
}
.before{
	padding-left: 15px;
	padding-top: 5px;
	float: left;
	margin-bottom: 10px;
}
.bleft{
	width: 10%;
	float: left;
	margin-right: 5px;
}
.bright{
	width: 80%;
	float: left;
	clear: right;
}
.bconn{
	padding:8px 8px;
}
.bcon{
	background:url(../img/kuang.png);
	background-size: 100% 100%;
}
.ly{
	width: 20%;
}
.content3 #liuyanfrom{
	background-color: white;
	width: 100%;
    position: absolute;
    z-index: 500;
    bottom: 53px;
}
.content3 #lyfooter{
	background-color: white;
	width: 100%;
	float: left;
	height: 340px;
}