@charset "utf-8";
/* CSS Document */
  
html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}
body{
  line-height:1.6;
  font-family:-apple-system-font, "Helvetica Neue", sans-serif;
}

.page__hd {
    padding: 40px;
}

.page-title
{
   text-align: center;
    font-size: 20px;
    font-weight: 400;
	
}

.page-desc {
    margin-top: 5px;
    color: #888;
    text-align: center;
    font-size: 14px;
}


.page-panel_hd
{
	  background:#FC9;
	  font-family:"微软雅黑";
	  font-size:20px;
      padding: 2px;
}

.page-panel_bd
{
	 padding:2px; 
}
 
  
.page-panel-bd-content1,.page-panel-bd-content2,.page-panel-bd-content3,.page-panel-bd-content4{
    text-indent:1.5em;
    padding: 4px;
}

.page-panel_hd b{
    font-weight: normal;
    color: gray;
    font-size: 12px;

}
 #weui-github{
    display: block;
	  padding:5px;
    text-indent: 1.5em;
	  text-decoration:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0); 
    color: black;
}

#weui-github:hover{color: red;font-weight: bold;}


.weui-textarea
{
    display: block;
    border: 0;
    resize: none;
    width: 100%;
    color: inherit;
    font-size: 1em;
    line-height: inherit;
    outline: 0;
}
  
.weui-textarea-counter
{
	  text-align:right;
	  color:#B2B2B2;
}
  
.weui-btn
{
	  position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 2.55555556;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
	  background-color: #1AAD19;
}
  
  
 