#resume
{
	box-shadow: 0 0 1em gray;
}
header
{
	background:#254665;
	height:18em;
}
header div.img
{
	float:left;
	width: 20em;
	height: 18em;
	overflow: hidden;
	
}
header div img
{
	max-width:100%;
	width: 10em;
	height: 10em;
	border-radius: 50%;
	border:.8em solid hsla(0,0%,100%,.7);
	margin-top:3.5em;
	margin-left:calc(50% - 6em)
}
header div.name
{
	float:left;
	color:white;
	width:calc(854px - 22em);
	height: 18em;
	color:hsla(0,0%,100%,.9);
}
header div.name p
{
	margin-left:15px;
}
header div.name p:first-child
{
	margin-top:2em;
	font-size: 250%;
	
}
header div.name p:nth-child(2)
{
	font-size: 150%;
	line-height: 1.2;
}
header div.name p:nth-child(3)
{
	font-size: 120%;
	line-height:4;
}
main div.con
{
	width:854px;
}
main div.con-item
{
	width:854px;
	height:15em;
}
main div.con-item:last-child
{
	height:18em;
}
main div.con-item .title
{
	width:15em;
	height:15em;
	float:left;
	display: flex;
}
main div.con-item .title p
{

	font-size: 160%;
	font-weight:bold;
	color:#254665;

	border:.2em solid #254665;
	display:block;
	text-align: center;
	padding:.5em .8em;
	width: 4em;
	height:1em;
	margin:auto;
}
main div.con-item .intro
{
	float:left;
	width:638px;

	height:15em;
	display:flex;
}
main div.con-item .intro .intro-con
{
	color:#444;
	font-size:125%;

	margin:5em 4em;
	padding:0;
}
main div.con-item:last-child .intro .intro-con
{
	text-indent:2em;
}
main div.con-item .intro ul.intro-con
{
	margin-left:5em;
}