
body{
    background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1541004188910&di=a971243870eec0b97387a02bc496d09b&imgtype=0&src=http%3A%2F%2Fwww.jituwang.com%2Fuploads%2Fallimg%2F150917%2F258269-15091FZ50514.jpg);
}
div{
    border:50px;
    border-radius: 5px;
    background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1541003835182&di=29312642c0573b6bc4b0d5a75d24f040&imgtype=0&src=http%3A%2F%2Fimg06.tooopen.com%2Fimages%2F20161023%2Ftooopen_sy_182675911656.jpg);
    /*position: 80px;*/
    background-size: 100% auto;
    width: 65%;
    height: 100%;
    margin-left:auto;
    margin-right:auto
}
p{
    font-size:40px;
}
h4{
    font-size: 15px;
    padding-left: 26px;
}
